<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />

  </startup>
  <appSettings>
    <!--也可讓程式讀這個-->
    <add key="ConnectionString" value="Data Source=192.168.8.16;Initial Catalog=CPSscan;User ID=barcode;pwd=chenbroshbarcode;" />
    <!--升級服務器配置-->
    <add key="ServerIP" value="172.22.81.25" />
    <add key="ServerPort" value="4540" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--以下兩句是做試驗用的-->
    <add key="UserName" value="admin" />
    <add key="Password" value="chenbrotx" />
    <!-- MySql User and Password-->
    <add key ="MyUserName" value="kervin" />
    <add key="MyPassword" value="123456" />
    <!--系統用戶菜單控制-->
    <add key="Sys_Usr_Menu" value="0" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.8.16;Initial Catalog=CPSscan;User ID=barcode;pwd=chenbroshbarcode;" />
    <!-- <add name="ConnectionMySqlString" connectionString="server=172.22.98.124;port=3306;database=ctcode;user=kervin;password=123456;" /> -->
    <add name="ConnectionMySqlString" connectionString="server=172.22.92.50;charset=utf8;port=3306;database=ctcode;user=mes;password=chenbrosh;" />
    <!--  <add name="ConnectionMySqlString" connectionString="server=172.22.98.124;port=3306;database=ctcode;user=kervin;password=123456;" />-->
    <add name="ConnectionOracleString" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.22.16.56)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = POC)));User Id=apps;Password=apps2010jan;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>